@{
    ViewData["Title"] = "HTML Demo";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img src="~/images/1.jpg" height="350" width="350" style="margin-right:25px; margin-bottom:20px" />
<img src="~/images/2.jpg" height="350" width="350" style="margin-right:25px; margin-bottom:20px" />
<img src="~/images/3.jpg" height="350" width="350" />