@model Triggerfish.Models.PageViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4"><label asp-for="AddressList"></label></h1>
            <hr />
            <ul>
                @{
                    foreach (AddressModel address in Model.AddressList)
                    {
                        <li>
                            @address.Address : <b>@address.PostalCode</b>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-auto">
            <h1 class="display-4"><label asp-for="PostcodeList"></label></h1>
            <hr />
            <ul>
                @{
                    foreach (string postcode in Model.PostcodeList)
                    {
                        <li>
                            <b>@postcode</b>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
