@model Triggerfish.Models.PageViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Address Processing";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <h4><label asp-for="AddressList"></label></h4>
            <hr />
            <ul>
                @{
                    foreach (AddressModel address in Model.AddressList)
                    {
                        <li>
                            @address.Address : <b>@address.PostalCode</b>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-auto">
            <h4><label asp-for="PostcodeList"></label></h4>
            <hr />
            <ul>
                @{
                    foreach (string postcode in Model.PostcodeList)
                    {
                        <li>
                            <b>@postcode</b>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
