@{
    ViewData["Title"] = "Assumptions, Challanges and Issues...";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>A collection of assumptions made, challanges encountered and known issues.</p>
    <ul>
        <li>
            Postcode extraction will return erroneous result if malformed postcode is present and the address contains
            a four digit street address e.g. 1234 Bug Road, New Farm, QLD 45QQ, Australia
        </li>
        <li>It is assumed addresses processed will be formatted as such that street address appears before postal code.</li>
        <li>c</li>
        <li>d</li>
    </ul>
</div>
