@{
    ViewData["Title"] = "Assumptions, Challenges and Issues...";
}
<h1>@ViewData["Title"]</h1>
<div>
    <hr />
    <p>A collection of assumptions made, challenges encountered and known issues:</p>
    <ul>
        <li>
            Postcode extraction will return erroneous result if there is both a malformed postcode and a four digit street number present e.g. 1234 Bug Road, New Farm, QLD 45QQ, Australia.
        </li>
        <li>It is assumed that processed addresses are formatted as such that street address appears before postal code.</li>
        <li>My limited exposure to asynchronous functions proved an excellent learning experience.</li>
        <li>Thank you again for the opportunity and looking forward to working with you all ;)</li>
    </ul>
</div>
